<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="StyleSheet" href='stylesheets/adddocumentpage.css'/>
    <script>
    var subjectObject = {
        "Content and lab development": {
        "Develop and continuously improve coaching session, webinar, and Dynatrace University content": ["# of sessions","# of videos", "# of University Content"],
        "Deliver internal Technical Product Specialist training": ["# of training delivered", "% CSAT Score"],
        "Partner with other teams to develop Dynatrace best practices": ["# of meetings participated in", "# of best practice guides", "# of topics developed"],
        "Assist in building lab environments" : ["# of lab environments developed","# of others using labs","# of others participating in lab development"]    
      },
        "Product feedback (product, self-help, internal processes)": {
        "Analyze chats/tickets": ["# of topics reviewed", "# of trends identified", "# of recommendations provided"],
        "Develop content to help deflect chats": ["# of Answer bots developed", "# of TKBs created/edited", "# of articles written","#/% inc. of self-help","#/% dec. in chats"],
        "Work with Product Management/R&D to improve product self-service": ["# of product enhancements requests/released","#/% increase of self-help","#/% decrease in chats"]
      },
        "D1 representative/evangelist (internal and external)": {
        "Participate in cross-functional SWAT, Value Creation, etc. teams": ["# of meetings attended","# of groups represented in"],
        "Author internal, corporate, and 3rdparty blog articles": ["# of articles published","# reads per article"],
        "Develop and present at internal, corporate, and 3rdparty technical conferences": ["# of conferences attended","# of presentations shared"],
        "TPS work and results are recognized by global team": ["# of internal meetings where TPS is highlighted","# of meetings where TPS is presenting on a global or cross-regional basis"]
      },
        "Recognition & impact": {
        "Continue to expand technical knowledge and stay ahead of industry trends": ["# of advanced certs","# of advanced training courses completed"],
        "Engage on ad-hoc customer meetings/coaching sessions/Q&A": ["# of customer meetings on SME topic, CSAT%"],
        "Act as an escalation point":["# hours in chat outside of shift","# escalations handled"],
        "Participate in internal process development and continuous improvement": ["# of new/improved processes","% time/efficiency improvement"]
        }
    }
    // Sets the selec options based on above dictionary 
    window.onload = function() {
      var subjectSel = document.getElementById("subject");
      var topicSel = document.getElementById("topic");
      var chapterSel = document.getElementById("chapter");
      for (var x in subjectObject) {
        subjectSel.options[subjectSel.options.length] = new Option(x, x);
      }
      subjectSel.onchange = function() {
        //empty Chapters- and Topics- dropdowns
        chapterSel.length = 1;
        topicSel.length = 1;
        //display correct values
        for (var y in subjectObject[this.value]) {
          topicSel.options[topicSel.options.length] = new Option(y, y);
        }
      }
      topicSel.onchange = function() {
        //empty Chapters dropdown
        chapterSel.length = 1;
        //display correct values
        var z = subjectObject[subjectSel.value][this.value];
        for (var i = 0; i < z.length; i++) {
          chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
        }
      }
    }
    </script>

<script type="text/javascript" src="https://js.live.net/v7.2/OneDrive.js"></script>

<script type="text/javascript">
function launchSaveToOneDrive(){
    var odOptions = { 
    clientId: "<%= clientID%>",
    action: "save",
    sourceInputElementId: "fileUploadControl",
    sourceUri: "",
    fileName: "",
    openInNewWindow: true,
    accountSwitchEnabled: true,
    success: function(files) {
      // Set invisible choice to this element to save id and url value in db
      var urlSelect = document.getElementById("proof") 
      var id_URL = files["value"][0]["id"] + "|" + files["value"][0]["webUrl"];
      urlSelect.options[urlSelect.options.length] = new Option(id_URL, id_URL);
      },
    progress: function(percent) { /* progress handler */ },
    cancel: function() { console.log("canceled") },
    error: function(error) { }};
    OneDrive.save(odOptions);
}
</script>
    
  </head>   
  <body>
    <b></b>
  <div id="content-container"></div>
    <div id = "_bg__adddocumentpage"></div>
    <div id="frame"  >

      <div id="___logo"  >

        <div id="logo_dark_bg_default"  >

          <div id="dynatrace_logo_rgb_cph_800x142px"  >

            <div id="group"  >
              <img src="images/shape.png" id="shape" />
              <img src="images/shape_ek1.png" id="shape_ek1" />
              <img src="images/shape_ek2.png" id="shape_ek2" />
              <img src="images/shape_ek3.png" id="shape_ek3" />
              <img src="images/shape_ek4.png" id="shape_ek4" />
              <img src="images/shape_ek5.png" id="shape_ek5" />

            </div>

          </div>

        </div>

      </div>
      </div>
      <div id="add_a_document" >
				Add a Document
			</div>

    <form name="form1" id="form1" action="/injectDoc/user" method="POST" style="color:#1496FF;">
    New Document Name: <input type="text" id="id" name="id" required="required" minlength="1" maxlength="20"></text>
    <br><br>
    Catagory: <select name="subject" id="subject" required="required">
        <option value="" selected="selected">Select</option>
      </select>
      <br><br>
    SubCatagory: <select name="topic" id="topic" required="required">
        <option value="" selected="selected">Select</option>
      </select>
      <br><br>
    Metric: <select name="chapter" id="chapter" required="required">
        <option value="" selected="selected">Select</option>
      </select>
      <br><br>
        <div>
            <label for="val">Quantity</label >
            <input type="number" step="0.01" id="val" name="val" required="required">
        </div>
        <br><br>
       <div class="tech_tag" id="tech_tag" >Technology Tag:
            <select  id="tags" name="tags" >
            <option value="">Select</option>
            <option value="Azure">Azure</option>
            <option value="AWS">AWS</option>
            <option value="Kubernetes">Kubernetes</option>
            <option value="Docker">Docker</option>
            </select>
        </div>

        <br><br>
        <div>
            <label for="Comment" id="CommentHeader">Comments:</label></p>
            <textarea id="Comment" name="Comment"rows="5" cols="60"></textarea>
        </div>
        <br><br>
      
      
      <details id="summary">
        <summary >Where to Save</summary>
        <p>Please navigate to the D1 documents in OneDrive slect "SME Activities Proof Docs"<br> 
          Then create a folder in you name and add the file to your folder.<br>
          Additional folders may be creted to better organize files for specific SME Catagories</p>
      </details>
      <% if (!mgmt)  {%>
        <button id="submit">Submit</button>
      <% } else {%>
        <textarea id="user" name="user" rows="1" cols="40"><%= user%></textarea>
        <button id="submit" formaction="/injectDoc/mgmt">Submit</button>
      <% }%>
        <select id="proof" name="proof" required="required">Proof Link</select>
        </form>
        <p>
        <input id="fileUploadControl" name="fileUploadControl" type="file" />
        <button onclick="launchSaveToOneDrive()" id="save">Save to OneDrive</button>
      </p>
       </body>
</html>