<!DOCTYPE html>
<html>
  <head>
    <title>SME Tracker Add Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <form action="/injectDoc" method="POST">
    <label for="Cat/SubCat">Choose Catagory and subcatagory:</label>
    <select name="Cat/SubCat" id="Cat/SubCat">
      <optgroup label="Content and lab development">
        <option value="Develop and continuously improve coaching session, webinar, and Dynatrace University content">Develop and continuously improve coaching session, webinar, and Dynatrace University content</option>
        <option value="Deliver internal Technical Product Specialist training">Deliver internal Technical Product Specialist training</option>
        <option value="Partner with other teams to develop Dynatrace best practices">Partner with other teams to develop Dynatrace best practices</option>
        <option value="Assist in building lab environments">Assist in building lab environments</option>
      </optgroup>
      <optgroup label="Product feedback (product, self-help, internal processes)">
        <option value="Analyze chats/tickets">Analyze chats/tickets</option>
        <option value="Develop content to help deflect chats">Develop content to help deflect chats</option>
        <option value="Work with Product Management/R&D to improve product self-service">Work with Product Management/R&D to improve product self-service</option>
      </optgroup>
      <optgroup label="D1 representative/evangelist (internal and external)">
        <option value="Participate in cross-functional SWAT, Value Creation, etc. teams">Participate in cross-functional SWAT, Value Creation, etc. teams</option>
        <option value="Author internal, corporate, and 3rdparty blog articles">Author internal, corporate, and 3rdparty blog articles</option>
        <option value="Develop and present at internal, corporate, and 3rdparty technical conferences">Develop and present at internal, corporate, and 3rdparty technical conferences</option>
        <option value="Develop and present at internal, corporate, and 3rdparty technical conferences">Develop and present at internal, corporate, and 3rdparty technical conferences</option>  
      </optgroup>
    </select>
    